<app-nav></app-nav>

<h1 class="display-4 text-center">Add Todo</h1>   
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 justify-content-center mx-auto">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="formlabel">User Id</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="formlabel">Id</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="formlabel">Title</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="formlabel">Compleated status</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <a type="text" class="btn btn-primary text-center form-control" id="">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
